@import url(/css/dunedain-common.css);
@import url(/css/dunedain-dark.css);
@import url(/css/dunedain-light.css);

html,
html *,
body,
body *
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 2em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, p, .abstract
{
    padding-left: 2rem;
    padding-right: 2rem;
    background: transparent;
}

h1, h2, h3, h4
{
    color: var(--heading-color);
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.1em;
    font-family: var(--heading-font);
}

h1>svg, h2>svg, h3>svg, h4>svg
{
    position: absolute;
    margin-left: -1.5em;

}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 130%;
}

h3
{
    font-size: 120%;
}

h4
{
    font-size: 110%;
}

ul, 
ol
{
    padding-left: 3em;
    padding-right: 3em;
}

li
{
    /*padding-top: .5em;*/
    /*padding-bottom: .5em;*/
}

ol>li
{
    list-style-type: decimal;
}

ul>li
{
    list-style-type: disc;
}

p
{
    padding-top: .5em;
    padding-bottom: .5em;
}

li>p
{
    padding-left: 0;
    padding-right: 0;
}

blockquote
{
    background-color: var(--blockquote-background);
    color: var(--dim-text-color);
    margin-left: 2em;
    margin-right: 2em;
    border-left: .5em solid var(--blockquote-bar-color);
    padding: 1em;
    overflow-x: auto;
    max-width: 100%;
}

.abstract
{
    font-size: var(--small-font-size);
}

table
{
    align-self: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1rem 4rem;
    box-shadow: .5em .5em var(--shadow);
}

.left>table
{
    margin-left: 2rem;
    margin-right: 2rem;
}

thead,
tbody
{
    background-color: var(--table-background);
}

thead
{
    margin-bottom: 0;
    border-bottom: none;
}

tbody
{
    margin-top: 0;
}

td, 
th
{
    padding: .5em 1em;
}

th
{
    background-color: var(--table-background);
    font-family: var(--heading-font);
    font-weight: 400;
}

tr
{
    position: relative;
    background-color: var(--table-row-background);
}

tr:nth-child(odd)
{
    background-color: var(--table-row-odd-background);
}

tr:hover
{
    background-color: var(--table-row-hover-bg);
}

tr:nth-child(odd):hover
{
    background-color: var(--table-row-odd-hover-bg);
}

::-webkit-scrollbar
{
    background: var(--background);
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track
{
    background: var(--scrollbar-track-bg);
    border: .25rem solid var(--background);
    /*border-radius: 1rem;*/
}

::-webkit-scrollbar-thumb
{
    background: var(--scrollbar-thumb-bg);
    border: 1px solid var(--background);
    /*border-radius: 1rem;*/
    box-shadow: 0 .25rem var(--shadow);
}

details ::-webkit-scrollbar
{
    background: transparent;
    width: .5rem;
    height: .5rem;
}

details ::-webkit-scrollbar-track
{
    background: transparent;
    border: none;
    /*border-radius: 0;*/
}

details ::-webkit-scrollbar-thumb
{
    background: var(--scrollbar-thumb-bg);
    border: none;
    /*border-radius: .25rem;*/
}

a
{
    color: var(--anchor);
    transition: background-color .2s ease, color .2s ease;
    padding: .2ex 0;
}

a:hover
{
    background-color: var(--selected-background);
    color: var(--selected-color);
    text-decoration: none;
}

pre, code, kbd
{
    font-family: 'PxPlus IBM VGA8 for Powerline';
    line-height: 1.1em;
    background-color: var(--code-background);
    /*border-radius: .5ex;*/
    color: var(--code-color);
}

table code,
table pre
{
    background-color: transparent;
    color: var(--code-alt-color);
}

code
{
    padding: .2ex .7ex;
    margin: 0 .5ex;
}

blockquote>code
{
    background-color: transparent;
    color: var(--code-alt-color);
}

kbd 
{
    background-color: var(--kbd-background);
    color: var(--kbd-color);
    font-family: var(--kbd-font);
    font-size: var(--small-font-size);
    padding: .2ex .7ex;
    border: .3ex solid var(--kbd-border-color);
    border-bottom-width: .5ex;
    margin: 0 .5ex;
}

pre
{
    padding: 1.5em;
    margin: .5em 4em;
    border: .3ex solid var(--code-border-color);
    overflow-x: auto;
}

#made-by
{
    background-color: transparent;
    font-size: 80%;
    padding: .5rem 2rem 1rem 2rem;
}

header,
header>.content
{
    background: var(--header-background);
    color: var(--header-color);
}

main>.content>header
{
    color: var(--header-alt-color);
}

header
{
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 3rem;
    white-space: nowrap;
    flex-shrink: 0;
    flex-direction: row;
    z-index: 100;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

main
{
    padding: 2rem 0;
}

#top + main
{
    margin-top: 3rem;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > p
{
    max-width: 1024px;
    margin: 0 auto;
}

main .content,
main .content p
{
    line-height: 2em;
}

details>div>header,
main>.content>header
{
    display: flex;
    flex-direction: column;
    background: transparent;
    position: static;
    align-items: flex-start;
    box-shadow: none;
    z-index: initial;
}

details>div>header
{
    margin-top: 2em;
}

details>div>header:first-child
{
    margin-top: 0;
}

header>.content,
main>.content,
footer>*>.content
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    background-color: transparent;
    padding: 0;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header>.content
{
    display: flex;
    flex-direction: row;
}

header h1, header h2, header h3, header h4,
header p, header address
{
    white-space: normal;
}

header>address
{
    font-style: normal;
    padding-left: 2em;
    padding-right: 2em;
}

.content>a.image,
details>div>a.image
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-25%);
    padding-left: 50%;
}

figure
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

figure>figcaption
{
    display: block;
    font-size: var(--tiny-font-size);
    line-height: 1.2em;
    text-align: center;
    padding-top: .5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

figure>a.image>img
{
    display: block;
    background-color: var(--figure-image-default-bg);
    max-width: 100%;
    /*border-radius: 1ex;*/
    margin-left: auto;
    margin-right: auto;
}

header a
{
    display: inline-block;
    flex-grow: 0;
    background: transparent;
    color: var(--header-color);
    font-family: var(--heading-font);
    font-weight: 700;
    text-decoration: none;
    padding: .5em 2em;
}

header a:hover
{
    background: var(--header-hover-bg);
    color: var(--header-hover-color);
}

header .right
{
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: flex-end;
}

header .right>a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    text-align: center;
    line-height: 3rem;
}

header .right>a>span
{
    display: block;
    margin-top: -.3em;
}

footer
{
    display: flex;
    min-height: 2rem;
    flex-shrink: 0;
    margin-top: auto;
    flex-direction: column;
    font-size: 80%;
}

footer>.links
{
    display: flex;
    background-color: var(--footer-links-bg);
    color: var(--footer-links-color);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4em;
}

footer>.links>a
{
    display: inline-flex;
    justify-content: center;
    color: var(--footer-links-color);
    text-decoration: none;
    width: 4em;
    height: 4em;
    margin: 0 .5em;
}

footer>.links>a:hover
{
    background-color: var(--footer-links-hover-bg);
    color: var(--footer-links-hover-color);
}

footer>.links>a>svg
{
    align-self: center;
}

footer>.bottom-text
{
    background-color: var(--footer-bottom-text-bg);
}

footer>.bottom-text>.content
{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.license
{
    padding: 1rem 2rem .5rem 2rem;
}

.license>p
{
    padding: 0;
}

.footnotes
{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: var(--small-font-size);
    word-break: normal;
}

.footnotes>hr
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.footnotes p
{
    text-indent: 2em;
    padding-left: 0;
    padding-right: 0;
}

.splash
{
    background-color: var(--splash-background);
    min-height: 10em;
    flex-direction: row;
    display: flex;
    margin-top: 2rem;
}

.splash.secondary
{
    background-color: var(--splash-secondary-bg);
}

.splash.notfilled
{
    background-color: transparent;
}

.splash>.content
{
    background-color: transparent;
    max-width: 1024px;
    margin: 0 auto;
    flex-grow: 1;
    align-self: center;
}

.splash>.content.centered
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash h1
{
    color: var(--splash-color);
    padding-bottom: 0;
}

.splash-toolbar
{
    position: relative;
    transform: translateY(-50%);
    margin-bottom: -2rem;
}

.splash-toolbar>.content,
.toolbar>.content
{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-toolbar a,
.toolbar a
{
    display: flex;
    background-color: var(--toolbar-link-bg);
    color: var(--toolbar-link-color);
    position: relative;
    align-items: center;
    min-height: 2em;
    height: 2em;
    line-height: 2em;
    padding: .5em 1em;
    margin: .5em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3ex;
    box-shadow: .25em .25em var(--shadow);
    transition: box-shadow .1s ease, transform .1s ease;
    will-change: box-shadow, transform;
}

.splash-toolbar a:active,
.toolbar a:active
{
    transform: translate(.25em, .25em);
    box-shadow: none;
}

.splash-toolbar a:hover,
.toolbar a:hover
{
    height: 2em;
    line-height: 2em;
}

.splash-toolbar a::before,
.toolbar a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    opacity: 0;
    /*border-radius: 1ex;*/
    will-change: opacity;
}

.splash-toolbar a:hover::before,
.toolbar a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

.splash-toolbar a>svg,
.toolbar a>svg
{
    vertical-align: middle;
    margin-right: 1ex;
}

.columns
{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.column
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: start;
}

.left
{
    text-align: left;
    align-items: flex-start;
}

.centered
{
    text-align: center;
    align-items: center;
}

.right
{
    text-align: right;
    align-items: flex-end;
}

.vpadded
{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

ul.incdir
{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

ul.incdir>li
{
    display: block;
    margin-right: 1em;
    list-style: none;
}

details>summary
{
    list-style: none;
    outline-style: none;
    cursor: pointer;
}

details>summary::-webkit-details-marker
{
    display: none;
}

details>summary>svg
{
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transform-origin: center;
    transition: transform .25s ease;
}

details>div
{
    display: flex;
    flex-direction: column;
    opacity: 0.0;
    will-change: opacity;
}

details[open]>summary>svg
{
    transform: rotateZ(90deg);
}

details>div>h2
{
    padding-bottom: 0;
    padding-top: .5em;
}

main>.content>hr,
details>div>hr
{
    margin-left: 2rem;
    margin-right: 2rem;
}

.heading-link,
a.timestamp
{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: .5rem;
    font-size: 80%;
}

.heading-link>a,
a.timestamp
{
    background-color: var(--timestamp-background);
    color: var(--timestamp-color);
    text-decoration: none;
    font-size: 80%;
}

.heading-link>a:hover,
a.timestamp:hover
{
    background: var(--timestamp-hover-bg);
    color: var(--timestamp-hover-color);
}

.heading-link,
.heading-link>a
{
    font-size: var(--small-font-size);
}

.heading-link>a
{
    color: var(--heading-color);
    padding: .25em .5em;
}

.heading-link>a:hover
{
    color: var(--selected-color);
}

a.timestamp
{
    display: inline-block;
    padding: .2em;
    margin: .1rem 2rem;
    line-height: 1rem;
}

.heading-link.back-arrow
{
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.heading-link.back-arrow::before
{
    content: ' ';
    display: block;
    position: absolute;
    width: 1rem;
    font-size: var(--body-font-size);
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-right: .5rem solid var(--text-color);
    height: 0;
    margin-top: .6rem;
    left: 0;
}

a.timestamp>svg
{
    width: .75em !important;
    height: .75em !important;
    vertical-align: middle;
}

@keyframes reveal {
    0 {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

details[open]>div
{
    line-height: 1em;
    animation: reveal 1s forwards;
}

.techlogo
{
    display: flex;
    align-items: center;
    width: 10em;
    min-width: 10em;
    height: 10em;
    min-height: 10em;
}

.techlogo>a>img
{
    width: 10em;
    opacity: 0.5;
    will-change: opacity;
    transition: opacity .25s ease;
}

.techlogo>a:hover
{
    background-color: transparent;
}

.techlogo>a:hover>img
{
    opacity: 1.0;
}

.button-accent
{
    margin: 0 2rem;
}

.button-accent>a
{
    display: inline-flex;
    background-color: var(--accent);
    color: var(--accent-contrast);
    position: relative;
    align-items: center;
    min-height: 2em;
    line-height: 2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3ex;
    padding: .5em 1em;
    /*border-radius: 0;*/
    box-shadow: .25em .25em var(--shadow);
    transition: box-shadow .1s ease, transform .1s ease;
    will-change: box-shadow, transform;
}

.button-accent>a:active
{
    transform: translate(.25em, .25em);
    box-shadow: none;
}

.button-accent>a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.3);
    opacity: 0;
    /*border-radius: 1ex;*/
    will-change: opacity;
}

.button-accent>a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

.button-accent>a>svg
{
    vertical-align: middle;
    margin-right: 1ex;
}

.katex-display
{
    overflow-x: auto;
    overflow-y: hidden;
}

@media (max-width: 600px)
{

h1, h2, h3, h4, p, .abstract
{
    padding-left: 1rem;
    padding-right: 1rem;
}

header>address
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.left>table
{
    margin-left: 1rem;
    margin-right: 1rem;
}

pre
{
    padding: 1.5em;
    margin: .5em 2em;
}

blockquote
{
    margin-left: 1em;
    margin-right: 1em;
}

main>.content>hr,
details>div>hr
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.splash-toolbar a>svg
{
    margin: 0;
}

.splash-toolbar a>span
{
    display: none;
}

a.timestamp
{
    margin: .1rem 1rem;
}

.columns
{
    display: flex;
    flex-direction: column;
}

.column
{
    margin-bottom: 2em;
}

.column:last-child
{
    margin-bottom: 0;
}

.column.left,
.column.centered,
.column.right
{
    text-align: center;
    align-items: center;
}

.footnotes
{
    word-break: break-all;
    padding-left: 1rem;
    padding-right: 1rem;
}

}

