html,
html *,
body,
body *
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: #121212;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14pt;
    line-height: 2em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, p, pre
{
    padding-left: 2rem;
    padding-right: 2rem;
    background: transparent;
}

h1, h2, h3, h4
{
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.1em;
    font-family: "Fira Sans Extra Condensed", sans-serif;
}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 130%;
}

h3
{
    font-size: 120%;
}

h4
{
    font-size: 110%;
}

p
{
    padding-bottom: 1em;
}

blockquote
{
    margin-left: 2em;
    border-left: .5em solid #212121;
    padding-left: 1em;
    overflow-x: auto;
    max-width: 100%;
}

details ::-webkit-scrollbar
{
    background: transparent;
    width: .5rem;
    height: .5rem;
}

details ::-webkit-scrollbar-track
{
    background: transparent;
    border: none;
    border-radius: 0;
}

details ::-webkit-scrollbar-thumb
{
    background: #fff;
    border: none;
    border-radius: .25rem;
}

a
{
    color: #687668;
}

pre, code
{
    font-family: 'PxPlus IBM VGA8 for Powerline';
    line-height: 1rem;
}

#made-by
{
    background-color: transparent;
    font-size: 80%;
    padding: .5rem 2rem 1rem 2rem;
}

header,
header>.content
{
    background: #272927;
    color: #fff;
}

header
{
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 3rem;
    white-space: nowrap;
    flex-shrink: 0;
    flex-direction: row;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

main
{
    /*
     *display: flex;
     *flex-grow: 1;
     */
    padding: 2rem 0;
    /*
     *flex-direction: column;
     */
}

#top + main
{
    margin-top: 3rem;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > p
{
    max-width: 1024px;
    margin: 0 auto;
}

main>.content,
main>.content p
{
    line-height: 2em;
}

header>.content,
main>.content,
footer>.content
{
    display: block;
    text-align: left;
    background-color: transparent;
    padding: 0;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header a
{
    color: #fff;
    display: inline-block;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 700;
    background: transparent;
    text-decoration: none;
    padding: .5em 2em;
}

header a:hover
{
    background: #fff;
    color: #121212;
    /*transition: all .5s ease-in-out;*/
}

header>.right
{
    width: 3rem;
    align-self: center;
}

header>.right>a
{
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
}

footer
{
    display: flex;
    min-height: 2rem;
    flex-shrink: 0;
    background-color: #233223;
    margin-top: auto;
    flex-direction: column;
    font-size: 80%;
}

footer>.content
{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.license
{
    padding: 1rem 2rem .5rem 2rem;
}

.license>p
{
    padding: 0;
}

.splash
{
    background-color: #1d201d;
    min-height: 10em;
    flex-direction: row;
    display: flex;
    margin-top: 2rem;
}

.splash > .content
{
    background-color: transparent;
    max-width: 1024px;
    margin: 0 auto;
    flex-grow: 1;
    align-self: center;
}

.splash h1
{
    padding-bottom: 0;
}

.splash-toolbar
{
    position: relative;
    transform: translateY(-50%);
}

.splash-toolbar > .content
{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
}

.splash-toolbar a
{
    color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    min-height: 2em;
    height: 2em;
    line-height: 2em;
    padding: .6em 1em;
    margin: 0 .5em;
    border-radius: 2em;
    background-color: #374537;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3ex;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.splash-toolbar a:hover
{
    height: 2em;
    line-height: 2em;
}

.splash-toolbar a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    opacity: 0;
    border-radius: 2em;
    will-change: opacity;
}

.splash-toolbar a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

.splash-toolbar a>svg
{
    vertical-align: middle;
    margin-right: 1ex;
}

.centered
{
    text-align: center;
}

ul.incdir
{
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

ul.incdir>li
{
    display: block;
    margin-right: 1em;
    list-style: none;
}

details>summary
{
    list-style: none;
    outline-style: none;
    cursor: pointer;
}

details>summary::-webkit-details-marker
{
    display: none;
}

details>summary>svg
{
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transform-origin: center;
    transition: all .25s ease;
}

details>div
{
    opacity: 0.0;
    will-change: opacity;
}

details[open]>summary>svg
{
    transform: rotateZ(90deg);
}

details>div>h2
{
    padding-bottom: 0;
    padding-top: .5em;
}

.heading-link,
a.timestamp
{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: .5rem;
    font-size: 80%;
}

.heading-link>a,
a.timestamp
{
    text-decoration: none;
    font-size: 80%;
}

.heading-link>a
{
    color: #fff;
    font-size: 100%;
}

a.timestamp
{
    padding-left: 2rem;
    padding-right: 2rem;
}

.heading-link.back-arrow
{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.heading-link.back-arrow::before
{
    content: '⯇';
    display: block;
    position: absolute;
    margin-left: -1em;
    width: 1em;
}

a.timestamp>svg
{
    width: .75em !important;
    height: .75em !important;
    vertical-align: middle;
}

@keyframes reveal {
    0 {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

details[open]>div
{
    line-height: 1em;
    animation: reveal 1s forwards;
}

@media (max-width: 600px)
{
.splash-toolbar a>svg
{
    margin: 0;
}

.splash-toolbar a>span
{
    display: none;
}
}

