html,
html *,
body,
body *
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: #121212;
    color: #c0c0c0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14pt;
    line-height: 2em;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, p
{
    padding-left: 2rem;
    padding-right: 2rem;
    background: transparent;
}

h1, h2, h3, h4
{
    color: #fff;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.1em;
    font-family: "Fira Sans Extra Condensed", sans-serif;
}

h1>svg, h2>svg, h3>svg, h4>svg
{
    position: absolute;
    margin-left: -1.5em;

}

h1
{
    font-size: 200%;
}

h2
{
    font-size: 130%;
}

h3
{
    font-size: 120%;
}

h4
{
    font-size: 110%;
}

ul, 
ol
{
    padding-left: 3em;
    padding-right: 3em;
}

li
{
    padding-top: .5em;
    padding-bottom: .5em;
}

ol>li
{
    list-style-type: decimal;
}

ul>li
{
    list-style-type: disc;
}

p
{
    padding-top: .5em;
    padding-bottom: .5em;
}

li>p
{
    padding-left: 0;
    padding-right: 0;
}

blockquote
{
    color: #606060;
    margin-left: 2em;
    border-left: .5em solid #212121;
    padding: 1em;
    overflow-x: auto;
    max-width: 100%;
}

table
{
    align-self: flex-start;
    border-collapse: collapse;
    border-spacing: 0;
    /*border: 1px solid #606060;*/
    margin: 1rem 4rem;
    box-shadow: .5em .5em #000;
}

thead,
tbody
{
    /*display: block;*/
    background-color: #0d100d;
    border: 3px double #606060;
    padding: .5em;
    margin: .5em;
}

thead
{
    margin-bottom: 0;
    border-bottom: none;
}

tbody
{
    margin-top: 0;
}

td, 
th
{
    /*
     *border: 1px solid #606060;
     */
    padding: .2em .5em;
}

th
{
    background-color: #0d100d;
}

tr
{
    position: relative;
    background-color: #121612;
    /*transition: background-color .5s ease;*/
}

tr:nth-child(odd)
{
    background-color: #232623;
}

tr:hover
{
    background-color: #151915;
}

tr:nth-child(odd):hover
{
    background-color: #262926;
}

::-webkit-scrollbar
{
    background: #121212;
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track
{
    background: #677567;
    border: .25rem solid #121212;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb
{
    background: #fff;
    border: none;
    border-radius: 1rem;
}

details ::-webkit-scrollbar
{
    background: transparent;
    width: .5rem;
    height: .5rem;
}

details ::-webkit-scrollbar-track
{
    background: transparent;
    border: none;
    border-radius: 0;
}

details ::-webkit-scrollbar-thumb
{
    background: #fff;
    border: none;
    border-radius: .25rem;
}

a
{
    color: #687668;
    transition: background-color .2s ease, color .2s ease;
}

a:hover
{
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

pre, code, kbd
{
    font-family: 'PxPlus IBM VGA8 for Powerline';
    line-height: 1.1em;
    background-color: #1d201d;
    border-radius: .5ex;
    color: #b3e3b3;
}

table code,
table pre
{
    background-color: transparent;
}

code
{
    padding: .2ex .7ex;
    margin: 0 .5ex;
}

blockquote>code
{
    background-color: transparent;
}

kbd 
{
    font-family: 'Fira Sans Extra Condensed', Arial, sans-serif;
    font-size: 12pt;
    padding: .2ex .7ex;
    border: .3ex solid #637363;
    border-bottom-width: .5ex;
    margin: 0 .5ex;
}

pre
{
    padding: 1.5em;
    margin: .5em 4em;
    border: .3ex solid #344334;
    overflow-x: auto;
}

#made-by
{
    background-color: transparent;
    font-size: 80%;
    padding: .5rem 2rem 1rem 2rem;
}

header,
header>.content
{
    background: #272927;
    color: #fff;
}

header
{
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 3rem;
    white-space: nowrap;
    flex-shrink: 0;
    flex-direction: row;
    z-index: 1;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

main
{
    /*
     *display: flex;
     *flex-grow: 1;
     */
    padding: 2rem 0;
    /*
     *flex-direction: column;
     */
}

#top + main
{
    margin-top: 3rem;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > p
{
    max-width: 1024px;
    margin: 0 auto;
}

main .content,
main .content p
{
    line-height: 2em;
}

details>div>header,
main>.content>header
{
    display: flex;
    flex-direction: column;
    background: transparent;
    position: static;
    align-items: flex-start;
}

header>.content,
main>.content,
footer>*>.content
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    background-color: transparent;
    padding: 0;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header>.content
{
    display: flex;
    flex-direction: row;
}

header h1, header h2, header h3, header h4,
header p, header address
{
    white-space: normal;
}

header>address
{
    font-style: normal;
    padding-left: 2em;
    padding-right: 2em;
}

.content>a.image,
details>div>a.image
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-25%);
    padding-left: 50%;
}

figure
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

figure>figcaption
{
    display: block;
    font-size: 10pt;
    line-height: 1.2em;
    text-align: center;
    padding-top: .5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

figure>a.image>img
{
    display: block;
    background-color: #fff;
    max-width: 100%;
    border-radius: 1ex;
    margin-left: auto;
    margin-right: auto;
}

header a
{
    display: inline-block;
    flex-grow: 0;
    background: transparent;
    color: #fff;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: .5em 2em;
    /*transition: background-color .5s ease, color .5s ease;*/
}

header a:hover
{
    background: #fff;
    color: #121212;
    /*transition: all .5s ease-in-out;*/
}

header .right
{
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: flex-end;
}

header .right>a
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    /*border-radius: 50%;*/
    text-align: center;
    line-height: 3rem;
}

header .right>a>span
{
    display: block;
    margin-top: -.3em;
}

footer
{
    display: flex;
    min-height: 2rem;
    flex-shrink: 0;
    margin-top: auto;
    flex-direction: column;
    font-size: 80%;
}

footer>.links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: #333733;
}

footer>.links>a
{
    display: inline-flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    /*border-radius: 50%;*/
    width: 4em;
    height: 4em;
    margin: 0 .5em;
    /*transition: color, background-color .5s ease;*/
}

footer>.links>a:hover
{
    background-color: #fff;
    color: #535553;
}

footer>.links>a>svg
{
    align-self: center;
}

footer>.bottom-text
{
    background-color: #272927;
}

footer>.bottom-text>.content
{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

.license
{
    padding: 1rem 2rem .5rem 2rem;
}

.license>p
{
    padding: 0;
}

.footnotes
{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 10pt;
    word-break: normal;
}

.footnotes>hr
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.footnotes p
{
    text-indent: 2em;
    padding-left: 0;
    padding-right: 0;
}

.splash
{
    background-color: #1d201d;
    min-height: 10em;
    flex-direction: row;
    display: flex;
    margin-top: 2rem;
}

.splash.notfilled
{
    background-color: transparent;
}

.splash>.content
{
    background-color: transparent;
    max-width: 1024px;
    margin: 0 auto;
    flex-grow: 1;
    align-self: center;
}

.splash>.content.centered
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash h1
{
    padding-bottom: 0;
}

.splash-toolbar
{
    position: relative;
    transform: translateY(-50%);
}

.splash-toolbar>.content,
.toolbar>.content
{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-toolbar a,
.toolbar a
{
    display: flex;
    background-color: #374537;
    color: #fff;
    position: relative;
    align-items: center;
    min-height: 2em;
    height: 2em;
    line-height: 2em;
    /*padding: .6em 1em;*/
    padding: .25em .5em;
    margin: .5em;
    /*border-radius: 1ex;*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3ex;
    /*box-shadow: 0 5px 5px rgba(0,0,0,.1);*/
    box-shadow: .5em .5em #000;
    transition: box-shadow .25s ease, transform .25s ease;
}

.splash-toolbar a:active,
.toolbar a:active
{
    transform: translate(.5em, .5em);
    box-shadow: none;
}

.splash-toolbar a:hover,
.toolbar a:hover
{
    height: 2em;
    line-height: 2em;
}

.splash-toolbar a::before,
.toolbar a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    opacity: 0;
    border-radius: 1ex;
    will-change: opacity;
}

.splash-toolbar a:hover::before,
.toolbar a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

.splash-toolbar a>svg,
.toolbar a>svg
{
    vertical-align: middle;
    margin-right: 1ex;
}

.columns
{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.column
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: start;
}

.left
{
    text-align: left;
    align-items: flex-start;
}

.centered
{
    text-align: center;
    align-items: center;
}

.right
{
    text-align: right;
    align-items: flex-end;
}

.vpadded
{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

ul.incdir
{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

ul.incdir>li
{
    display: block;
    margin-right: 1em;
    list-style: none;
}

details>summary
{
    list-style: none;
    outline-style: none;
    cursor: pointer;
}

details>summary::-webkit-details-marker
{
    display: none;
}

details>summary>svg
{
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transform-origin: center;
    transition: transform .25s ease;
}

details>div
{
    display: flex;
    flex-direction: column;
    opacity: 0.0;
    will-change: opacity;
}

details[open]>summary>svg
{
    transform: rotateZ(90deg);
}

details>div>h2
{
    padding-bottom: 0;
    padding-top: .5em;
}

.heading-link,
a.timestamp
{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: .5rem;
    font-size: 80%;
}

.heading-link>a,
a.timestamp
{
    text-decoration: none;
    font-size: 80%;
}

.heading-link,
.heading-link>a
{
    font-size: 12pt;
}

.heading-link>a
{
    color: #fff;
    padding: .25em .5em;
}

.heading-link>a:hover
{
    color: #000;
}

a.timestamp
{
    display: inline-block;
    padding: .2em;
    margin: .1rem 2rem;
    line-height: 1rem;
}

.heading-link.back-arrow
{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.heading-link.back-arrow::before
{
    content: '⯇';
    display: block;
    position: absolute;
    margin-left: -1em;
    width: 1em;
}

a.timestamp>svg
{
    width: .75em !important;
    height: .75em !important;
    vertical-align: middle;
}

@keyframes reveal {
    0 {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

details[open]>div
{
    line-height: 1em;
    animation: reveal 1s forwards;
}

.techlogo
{
    display: flex;
    align-items: center;
    width: 10em;
    min-width: 10em;
    height: 10em;
    min-height: 10em;
}

.techlogo>a>img
{
    width: 10em;
    opacity: 0.5;
    will-change: opacity;
    transition: opacity .25s ease;
}

.techlogo>a:hover
{
    background-color: transparent;
}

.techlogo>a:hover>img
{
    opacity: 1.0;
}

.button-accent
{
    margin: 0 2rem;
}

.button-accent>a
{
    display: inline-flex;
    background-color: #bdcc49;
    color: #000;
    position: relative;
    align-items: center;
    min-height: 2em;
    line-height: 2em;
    /*padding: .6em 1em;*/
    /*border-radius: 1ex;*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3ex;
    padding: .25em .5em;
    border-radius: 0;
    box-shadow: .5em .5em #000;
    transition: box-shadow .25s ease, translate .25s ease;
}

.button-accent>a:active
{
    transform: translate(.5em, .5em);
    box-shadow: none;
}

.button-accent>a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.3);
    opacity: 0;
    border-radius: 1ex;
    will-change: opacity;
}

.button-accent>a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

.button-accent>a>svg
{
    vertical-align: middle;
    margin-right: 1ex;
}

.katex-display
{
    overflow-x: auto;
    overflow-y: hidden;
}

@media (max-width: 600px)
{

h1, h2, h3, h4, p
{
    padding-left: 1rem;
    padding-right: 1rem;
}

pre
{
    padding: 1.5em;
    margin: .5em 2em;
}

blockquote
{
    margin-left: 1em;
}

.splash-toolbar a>svg
{
    margin: 0;
}

.splash-toolbar a>span
{
    display: none;
}

a.timestamp
{
    margin: .1rem 1rem;
}

.columns
{
    display: flex;
    flex-direction: column;
}

.column
{
    margin-bottom: 2em;
}

.column:last-child
{
    margin-bottom: 0;
}

.column.left,
.column.centered,
.column.right
{
    text-align: center;
    align-items: center;
}

.footnotes
{
    word-break: break-all;
}

}

