.projects 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project 
{
    display: flex;
    flex-direction: row;
    background-color: var(--background-elevated);
    margin-bottom: 1em;
    padding: 1.5em 0;
}

.dates
{
    font-family: var(--date-font);
    font-size: 12pt;
    /*font-weight: bold;*/
    padding: 0 2rem;
}

.image
{
    background-color: var(--background);
    border: .7ex solid var(--primary-lighten2);
    box-shadow: .25em .25em var(--shadow);
    width: 20em;
    min-width: 20em;
    height: 20em;
    min-height: 20em;
    overflow: hidden;
    margin-left: 1.5em;
    flex: 0 1;
}

.image>img
{
    height: 20em;
    min-height: 20em;
    min-width: 20em;
}

.description
{
    flex: 1 1 auto;
}

.actions
{
    padding: 1rem 2rem;
}

.actions>.inactive-link 
{
    display: inline;
    background-color: var(--dim-text-background);
    color: var(--dim-text-color);
    position: relative;
    cursor: not-allowed;
    padding: .6em 1em;
    margin: 0 .5em 0 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2ex;
    font-size: 12pt;
}

.actions>a
{
    display: inline-flex;
    background-color: var(--primary);
    color: var(--alt-text-color);
    position: relative;
    padding: 0 1em;
    margin: 0 .5em 0 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2ex;
    font-size: 12pt;
    box-shadow: .25em .25em #000;
    transition: box-shadow .1s ease, transform .1s ease;
    will-change: box-shadow, transform;
}

.actions>a:active
{
    transform: translate(.25em, .25em);
    box-shadow: none;
}

.actions>a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    opacity: 0;
    border-radius: 1ex;
    will-change: opacity;
}

.actions>a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

@media (max-width: 900px)
{

.image
{
    display: flex;
    flex-direction: column;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
}

.image>img
{
    flex: 1 0;
    visibility: hidden;
    width: initial;
    min-width: 0;
    max-width: 100%;
    height: initial;
    min-height: 0;
    max-height: 100%;
}

}

@media (max-width: 600px)
{

.project
{
    flex-direction: column;
}


.image
{
    width: initial;
    min-width: initial;
    max-width: 100%;
    height: initial;
    min-height: initial;
    max-height: 10rem;
    margin: 0 1em;
}

.description
{
    margin-top: 1em;
}

.dates
{
    padding: 0 1rem;
}

.actions
{
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: flex-end;
}

.actions>a,
.actions>.inactive-link
{
    margin: 0;
    padding: 0 1em;
}
}

