.splash-toolbar>.content>img,
main>.content>img
{
    display: block;
    border: .7ex solid var(--primary-lighten2);
    /*border-radius: 50%;*/
    box-shadow: .25em .25em var(--shadow);
    align-self: center;
    justify-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

main
{
    padding-top: 0;
}

