.image
{
    width: calc(96px + var(--image-border-width));
    height: calc(96px + var(--image-border-width));
    background-size: auto;
    background-position: 50% 50%;
    border: var(--image-border-width) solid var(--image-border);
    box-shadow: 
        inset 0 0 0 .1ex var(--image-border-outer),
        inset 0 0 0 var(--image-border-width) var(--image-border-inner),
        .25em .25em var(--shadow);
    align-self: center;
    justify-self: center;
}

.image>img
{
    padding: .25em;
    visibility: hidden;
    /*clip-path: polygon(var(--image-border-width) var(--image-border-width), var(--image-border-width) calc(100% - var(--image-border-width)), calc(100% - var(--image-border-width)) calc(100% - var(--image-border-width)), calc(100% - var(--image-border-width)) var(--image-border-width));*/
}

main
{
    padding-top: 0;
}

