.programs 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.program 
{
    display: flex;
    flex-direction: row;
    background-color: #212121;
    /*border-radius: 1ex;*/
    margin-bottom: 1em;
    padding: 1.5em 0;
}

.dates
{
    font-size: 12pt;
    font-weight: bold;
    padding: 0 2rem;
}

.image
{
    background-color: #c0c0c0;
    width: 20em;
    min-width: 20em;
    height: 20em;
    min-height: 20em;
    overflow: hidden;
    margin-left: 1.5em;
    /*border-radius: 1ex;*/
    flex: 0 1;
}

.image>img
{
    height: 20em;
    min-height: 20em;
    min-width: 20em;
}

.description
{
    flex: 1 1 auto;
}

.actions
{
    padding: 0 2rem;
}

.actions>.inactive-link 
{
    display: inline;
    background-color: #404040;
    color: #c0c0c0;
    position: relative;
    cursor: not-allowed;
    padding: .6em 1em;
    margin: 0 .5em 0 0;
    /*border-radius: 1ex;*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2ex;
    font-size: 12pt;
}

.actions>a
{
    display: inline-flex;
    background-color: #374537;
    color: #fff;
    position: relative;
    /*padding: .6em 1em;*/
    padding: 0 1em;
    margin: 0 .5em 0 0;
    /*border-radius: 1ex;*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2ex;
    font-size: 12pt;
    box-shadow: .5em .5em #000;
    transition: box-shadow .25s ease, transform .25s ease;
}

.actions>a:active
{
    transform: translate(.5em, .5em);
    box-shadow: none;
}

.actions>a::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.1);
    opacity: 0;
    border-radius: 1ex;
    will-change: opacity;
}

.actions>a:hover::before
{
    opacity: 0.8;
    will-change: opacity;
}

@media (max-width: 900px)
{
.image
{
    display: flex;
    flex-direction: column;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    height: 10rem;
    min-height: 10rem;
    max-height: 10rem;
}

.image>img
{
    flex: 1 0;
    visibility: hidden;
    width: initial;
    min-width: 0;
    max-width: 100%;
    height: initial;
    min-height: 0;
    max-height: 100%;
}

}

@media (max-width: 600px)
{

.program
{
    flex-direction: column;
}


.image
{
    width: initial;
    min-width: initial;
    max-width: 100%;
    height: initial;
    min-height: initial;
    max-height: 10rem;
    margin: 0 1em;
}

.description
{
    margin-top: 1em;
}

.dates
{
    padding: 0 1rem;
}

.actions
{
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: flex-end;
}

.actions>a,
.actions>.inactive-link
{
    margin: 0;
}
}

