.texts
{
    display: table;
    background-color: #212121;
    border-spacing: 0;
    margin: 1em 0;
    box-shadow: .7em .7em #000;
}

.texts>tbody
{
    display: block;
    padding: .5em;
    margin: .5em;
    border: 3px double #a3a383;
}

.text
{
    display: table-row;
    align-items: center;
}

.icon
{
    vertical-align: top;
    padding: .5em;
}

.icon>svg
{
    border-radius: 50%;
    padding: .5em;
    color: #fff;
    /*color: #000;*/
    /*background-color: #bdcc49;*/
}

.description
{
    display: table-cell;
    flex-grow: 1;
    padding: 1em;
}

.description>h1,
.description>h2,
.description>h3,
.description>h4,
.description>p
{
    padding: 0;
}


.description>h1 a,
.description>h2 a,
.description>h3 a,
.description>h4 a
{
    color: ##a3a383;
    text-decoration: none;
}

.description>h1 a:hover,
.description>h2 a:hover,
.description>h3 a:hover,
.description>h4 a:hover
{
    background-color: #fff;
    color: #121212;
}

.date
{
    display: table-cell;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0 .5em;
    text-align: center;
}

.date:last-child
{
    padding-right: 1.5em;
}

@media (max-width: 600px)
{

.texts
{
    display: block;
}

.texts>tbody
{
    display: flex;
    flex-direction: column;
}

.text
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.texts td.icon
{
    display: none;
}

.description
{
    display: block;
    padding-bottom: .5em;
}

.texts td
{
    display: block;
}

.date
{
    display: block;
    padding-left: 1em;
    padding-right: 0;
}

.date:last-child
{
    padding-right: 1em;
}

}

