<IfModule mod_rewrite.c>
    ErrorDocument 404 /404.html

    RewriteEngine On
    RewriteBase /

    RewriteRule ^/?profil/?$ /profil/index.html [L]
    RewriteRule ^/?portfolio/?$ /portfolio/index.html [L]
    RewriteRule ^/?tekstovi/?$ /tekstovi/index.html [L]
    RewriteRule ^/?tekstovi/([a-z_-]+)/?$ /tekstovi/$1/index.html [L]
    RewriteRule ^/?tekstovi/([a-z_-]+)/([a-z_-]+)/?$ /tekstovi/$1/$2.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?blog/([^/]+)/([^/]+)/?$ /blog/$1/$2.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?blog/([^/]+)/?$ /blog/$1/index.html [L]

    RewriteRule ^/?blog/?$ /blog/index.html [L]
</IfModule>

