<IfModule mod_rewrite.c>
    ErrorDocument 404 /404.html

    RewriteEngine On
    RewriteBase /

    Redirect 404 /.htaccess
    Redirect 410 /categories
    Redirect 410 /favorites
    Redirect 410 /logout
    Redirect 410 /omeni
    Redirect 410 /pomocy.php
    Redirect 410 /razno
    Redirect 410 /sitemap.xml
    RedirectMatch 410 /tekstovi/razno.*
    Redirect 410 /doku/cv-strahinja-radic.pdf
    
    #RewriteCond %{SERVER_PORT} 80
    #RewriteRule ^(.*)$ https://strahinja.org/$1 [R,L]

    Redirect /tekstovi/softver/gnu /tekstovi/softver
    
    RewriteRule ^/?profil/?$ /profil/index.html [L]
    RewriteRule ^/?portfolio/?$ /portfolio/index.html [L]
    RewriteRule ^/?tekstovi/?$ /tekstovi/index.html [L]
    RewriteRule ^/?tekstovi/([a-z_-]+)/?$ /tekstovi/$1/index.html [L]
    RewriteRule ^/?tekstovi/([a-z_-]+)/([a-z_-]+)/?$ /tekstovi/$1/$2.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?blog/([^/]+)/([^/]+)/?$ /blog/$1/$2.html [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?blog/([^/]+)/?$ /blog/$1/index.html [L]

    RewriteRule ^/?blog/?$ /blog/index.html [L]
</IfModule>

